//* Those elements that can appear in any page: links, buttons, titles, lists,… *//

/* Textual styles
========================================================================== */
.text-content{
	>*:not(.title--shy) + *{
		margin-top: 2*$gap;
	}
}

/* Titles
========================================================================== */

.title{

	&--villain{
		font-size: 10vw;
		line-height: .9;
	}

	&--minion{
		font-style: italic;
		font-weight: 300;
		margin-top: 0;
		font-size: 2.5vw;
	}

	&--shy{
		text-transform: uppercase;

		+ *{
			margin-top: $gap;
		}
	}

	&--intro{
		line-height: 2.1;
		overflow: hidden;
		transform-origin: left center;
		transition: width 1.2s ease-out;
		width: 0;

		strong{
			display: block;
			width: 40vw;
		}

		span{
			background-color: #000;
			display: inline;
			padding: .5*$gap 1.5*$gap .75*$gap;
			font-size: $f-mega;
			font-weight: 500;
			color: transparent;
			width: 50vw;
			transition: color 1s 1.2s ease-out;

			/* Needs prefixing */
			box-decoration-break: clone;
			-webkit-box-decoration-break: clone;
		}

		&.run-animation{
			width: 50%;

			span{
				color: #fff;
			}

		}
	}
}

/* Links
========================================================================== */

.link{
	text-decoration: none;

	&--scroll{
		position: absolute;
		bottom: 5vh;
		color: $c-white;
		opacity: .5;
	}
}


/* BUttons CTA
========================================================================== */


.cta{
	background-color: $c-white;
	color: $c-black;
	border-radius: 4rem;
	text-decoration: none;
	padding: $gap 4*$gap;
	font-size: $f-bit;
	align-self: start;
	font-weight: 700;
	line-height: 1;
	margin-top: 2*$gap;

	&--bossy{
		text-transform: uppercase;
	}

}

/* Custom selects
========================================================================== */

.shy-select{
	position: relative;
	overflow: hidden;
}

.select__value{
	display: block;
	white-space: nowrap;
}

.select__selector{
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
}


/* Sliders
========================================================================== */

.slider{
	&__wrapper{
		position: relative;
		display: flex;
		align-items: center;
	}

	&__tooltip{
		position: absolute;
		bottom: 100%;
		margin-left: 1.5rem;
		transform: translateX(-50%); // size of the icon before the slider
	}
}


/* Animated elements
========================================================================== */

.animated{
	display: inline-block;
	position: absolute;
	line-height: .9;
	color: #1C3551;

	&--scroll{
		// transform: rotate(-90deg);
		// opacity: .3;
	}

	&--intro{
		top: 50%;
		right: 30%;
		font-size: 6vh;
	}

	&--bio{
		top: 20%;
		left: 38%;
		font-weight: bold;
		font-size: 5vh;
		border-left: .5rem solid;
		padding-left: $gap;
	}
}


/* Animated images
========================================================================== */

.img--bg{
	&::after{
		content: '';
		position: absolute;
		height: 100%;
		background-color: #ff0;
		transform: translate(10%, -5%);
		top: 0;
		z-index: -1;
		transform-origin: 0 0;
		transition: all .8s ease-out;
		width: 0;
	}

	&.show-img{
		&::after{
			width: 100%;
		}
	}
}


.mask-img{
	width: 0;
	transform-origin: left center;
	transition: all .6s .8s ease-out;
	overflow: hidden;

	img{
		width: 35vh;
		transform: scale(1.1);
		transition: all 1.2s .3s ease-out;
		transform-origin: center center;
	}

	.show-img &{
		transition: all .4s .5s ease-out;
		width: 100%;

		img{
			transform: scale(1);
		}
	}
}


/* FLorish animation
========================================================================== */

.florish{
	width: 10rem;
	stroke-width: 2px;
}

[id="florish-stroke"] {
	stroke-dasharray: 720;
	stroke-dashoffset: 720;
	animation: dash 3s ease-in-out forwards;
	animation-play-state: paused;
}

[id="florish-counter"]{
	stroke-dasharray: 68;
	stroke-dashoffset: 68;
	animation: counter 2.5s .5s ease-in-out forwards;
	animation-play-state: paused;
}

[id="florish-stroke"], [id="florish-counter"]{
	.run-animation &{
		animation-play-state: running;
	}
}


@keyframes dash {
	from {
		stroke-dashoffset: 720;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes counter {
	from {
		stroke-dashoffset: 68;
	}
	to {
		stroke-dashoffset: 0;
	}
}
