//* Modularize everything you can. That way you can move anything from here to there without crying (so much). *//

//* Remember to create a single scss file for huge modules if you need it *//

/* Header
========================================================================== */

.nav{
	// Main navigation items
	&--main{
		height: 100vh;
		left: 0;
		opacity: 0;
		position: fixed;
		top: 0;
	}

	//Child items
	&__item{
		text-decoration: none;
	}
}


/* Sections
========================================================================== */

.section{
	padding: 10*$gap $centering;
	position: relative;

	&:not(.footer, .over-the-folder){
		>* + *{
			margin-top: 2*$gap;
		}
	}
}

// Intro project section

.section{
	&--intro{

		@include mq($bp_middle){
			.intro__highlight{
				width: 60%;
			}

			p{
				width: 80%;
			}
		}
	}
}

.intro__highlight{
	font-size: $f-mega;
}


// Bio about Claude Garamond

.section{
	&--typographer{
		@include mq($bp_middle){
			p:not(:first-child){
				width: 66.6%;
				margin-left: 33.3%;
				font-style: italic;
			}
			p:first-child{
				width: 50%;
			}
		}
	}
}

/* CTA message intro over the folder
========================================================================== */

.over-the-folder{
	justify-content: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color:  $c-black;
	color: $c-white;

}


/* Typetester
========================================================================== */

.typetester{
	// Styles for the editable text
	&__text{
		text-align: center;
		font-size: 13vw;
		margin-top: 4*$gap;
		font-feature-settings: 'liga' 0, 'calt' 0, 'clig' 0;
	}
}

.tt{
	&__settings{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__otf{
		// position: relative;
	}

	&__icon{
		width: 1.5rem;
		height: 1.5rem;
	}
}

.sliders{
	display: flex;
}

.otf-features{
	display: flex;
	opacity: 0;
	left: 0;
	margin-top: 3*$gap;
	width: 98vw;
	z-index: 2;
	background-color: $c-white;
	pointer-events: none;
	order: 2;
	width: 100%;
	display: none;

	&.visible{
		opacity: 1;
		pointer-events: all;

		@supports (display: grid) {
			display: grid;
			grid-auto-flow: column;
			grid-template-rows: repeat(20, 1.5rem);

			@include mq($bp_middle-down){
				grid-template-rows: repeat(10, 1.5rem);
			}
			@include mq($bp_tabletish){
				grid-template-rows: repeat(7, 1.5rem);
			}
			@include mq($bp_desktopish){
				grid-template-rows: repeat(5, 1.5rem);
			}
			@include mq($bp_hdish){
				grid-template-rows: repeat(4, 1.5rem);
			}
		}
	}
}

.otf__control{
	white-space: nowrap;
}


/* Footer
========================================================================== */
.footer{
	background-color: $c-black;
	color: $c-white;
	display: grid;
	grid-template-columns: 1fr;
	grid-column-gap: 4*$gap;

	@include mq($bp_middle-down){
		grid-template-columns: repeat(2, 1fr);

	}
	@include mq($bp_tabletish){
		grid-template-columns: repeat(3, 1fr);

	}

	a{
		color: $c-white;
	}
}
