//* Modularize everything you can. That way you can move anything from here to there without crying (so much). *//

//* Remember to create a single scss file for huge modules if you need it *//

/* Header
========================================================================== */

.nav{
	// Main navigation items
	&--main{
		position: absolute;
		top: 100vh;
		z-index: 9;

	}

	//Child items
	&__item{
		text-decoration: none;
		transform: translateX(-100%);
		transition: transform .8s ease-out;

		&:nth-child(2){
			transition-delay: .1s;
		}
		&:nth-child(3){
			transition-delay: .2s;
		}

		.visible &{
			transform: translateX(0);
		}

		&:hover{
			a{
				opacity: 1;
				transition: transform .5s ease-out, opacity .5s .3s ease-out;
				transform: translateX(0);
			}
		}

		&::before{
			content: '';
			position: absolute;
			display: inline-block;
			width: 4*$gap;
			height: 2px;
			background-color: #ff0;
			top: 50%;
			transform: translateY(-50%);
		}

		a{
			opacity: 0;
			display: block;
			transform: translateX(-100px);

			padding-left: 5*$gap;
			transition: opacity .5s ease-out, transform .5s .3s ease-out;
			text-decoration: none;
		}
	}
}


/* Sections
========================================================================== */

.section{
	padding: 10*$gap $centering;
	position: relative;

	&:not(.footer, .over-the-folder){
		>* + *{
			margin-top: 2*$gap;
		}
	}
}

// Intro project section

.section{
	&--intro{

		@include mq($bp_middle){
			.intro__highlight{
				width: 60%;
			}

			p{
				width: 80%;
			}
		}
	}
}

.intro__highlight{
	font-size: $f-mega;
}

.intro__img.intro__img{
	position: absolute;
	left: 60%;
	transform: translateY(-25%);
	z-index: -1;
	// opacity: 0;
	width: 35%;

	&::after{
		content: '';
		position: absolute;
		height: 100%;
		background-color: #ff0;
		transform: translate(10%, -5%);
		top: 0;
		z-index: -1;
		transform-origin: 0 0;
		transition: all .8s ease-out;
		width: 0;
	}

	img{
		width: 35vh;
		transform: scale(1.1);
		transition: all 1.2s .3s ease-out;
		transform-origin: center center;

	}

	.mask-img{
		width: 0;
		transform-origin: left center;
		transition: all .6s .8s ease-out;
		overflow: hidden;
	}

	&.show-img{

		&::after{
			width: 100%;
		}

		& .mask-img{
			transition: all .4s .5s ease-out;
			width: 100%;
		}

		img{
			transform: scale(1);
		}
	}
}

// .mask-img{
// 	position: absolute;
// 	width: 100%;
// 	height: 100%;

// }


// Bio about Claude Garamond

.section{
	&--typographer{
		@include mq($bp_middle){
			p:not(:first-child){
				width: 66.6%;
				margin-left: 33.3%;
				font-style: italic;
			}
			p:first-child{
				width: 50%;
			}
		}
	}
}

/* CTA message intro over the folder
========================================================================== */

.over-the-folder{
	justify-content: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color:  $c-black;
	color: $c-white;

}


/* Typetester
========================================================================== */

.typetester{
	// Styles for the editable text
	&__text{
		text-align: center;
		font-size: 13vw;
		margin-top: 4*$gap;
		font-feature-settings: 'liga' 0, 'calt' 0, 'clig' 0;
	}
}

.tt{
	&__settings{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__otf{
		// position: relative;
	}

	&__icon{
		width: 1.5rem;
		height: 1.5rem;
	}
}

.sliders{
	display: flex;
}

.otf-features{
	display: flex;
	opacity: 0;
	left: 0;
	margin-top: 3*$gap;
	width: 98vw;
	z-index: 2;
	background-color: $c-white;
	pointer-events: none;
	order: 2;
	width: 100%;
	display: none;

	&.visible{
		opacity: 1;
		pointer-events: all;

		@supports (display: grid) {
			display: grid;
			grid-auto-flow: column;
			grid-template-rows: repeat(20, 1.5rem);

			@include mq($bp_middle-down){
				grid-template-rows: repeat(10, 1.5rem);
			}
			@include mq($bp_tabletish){
				grid-template-rows: repeat(7, 1.5rem);
			}
			@include mq($bp_desktopish){
				grid-template-rows: repeat(5, 1.5rem);
			}
			@include mq($bp_hdish){
				grid-template-rows: repeat(4, 1.5rem);
			}
		}
	}
}

.otf__control{
	white-space: nowrap;
}


/* Footer
========================================================================== */
.footer{
	background-color: $c-black;
	color: $c-white;
	display: grid;
	grid-template-columns: 1fr;
	grid-column-gap: 4*$gap;

	@include mq($bp_middle-down){
		grid-template-columns: repeat(2, 1fr);

	}
	@include mq($bp_tabletish){
		grid-template-columns: repeat(3, 1fr);

	}

	a{
		color: $c-white;
	}
}
