//* Those things typical but a little different. (Colors, Font family, sizes, layout sizes…) *//

// Colors

$c-white: #f1f1f1;
$c-black: #0C1232;
$c-almost-black: #3f3f3f;
$c-main-light: #FFAE92;
$c-main-dark: #F03C02;
$c-main-dark1: #C21A01;
$c-main-dark2: #A30006;
$c-main-dark3: #6B0103;
$c-grey-medium: #666666;
$c-grey-dark: #5C5E5D;
$c-grey-dark1: #1C0113;
$c-brown-light: #D0C0B7;
$c-brown-dark: #836D62;
// $c-blue-light: #;


$c-grey-light: #F1F1F1;
$c-blue-medium: #BBCECC;
$c-main: #EE6F52;
$c-dark: #4F4746;
$c-brown: #836D62;
$c-brown-light: #D0C0B7;
$c-brown-dark: #362A28;


$c-text: $c-dark;
$c-bg: $c-grey-light;
$c-complementary: $c-blue-medium;

// Icons colors

// Fonts
$f-fallback: serif;
$f-text: 'EB Garamond', $f-fallback;
$f-base: 21;

$f-light: 300;
$f-regular: 400;
$f-medium: 500;
$f-bold: 700;

$f-yotta: 5.19rem;
$f-zetta: 4.35rem;
$f-exa: 4.12rem;
$f-peta: 3.69rem;
$f-tera: 2.25rem;
$f-giga: 1.69rem;
$f-megish: 1.5rem;
$f-mega: 1.3125rem;
$f-kilo: 1.125rem;
$f-byte:  1rem;
$f-bit: 0.88rem;
$f-micro: 0.75rem;
$f-nano: 0.69rem;
$f-pico: 0.62rem;

// Layout
$site-width: 1120;

$centering: calc((100% - 80%)/ 2);

$gap: .5rem; // half of the $f-base actyally
$padding: 3*$gap;


// BreakPoints: Use this sizes with @include mq($bp_tabletish) - check helpers if you want more info
$bp-mobilish: 320;
$bp_middle-down-: 449;
$bp_middle-down: 450;
$bp_middle: 600;
$bp_tabletish: 768;
$bp_desktopish-: 1023;
$bp_desktopish: 1024;
$bp_hdish: 1280;
$bp_4kdish: 1440;


// Animations
$anm: all .4s ease-out;
